<h3>Create a Rocket Clerk account</h3>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<main>
  <div class="form-container">
    <%= bootstrap_form_tag url: sessions_path do |f| %>
      <div class="field">
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.text_field :handle %>
      </div>
      <div class="field">
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</main>
<% end %>
