
<body>
<div id="content-container" class="center-align">
<h1>Rocket Login</h1>
<%= form_for (:session, url: login_path) do |f| %>
Email <%= f.text_field :email
Password <%= f.text_field :password
<%= f.submit "Login" %>
<%= end %>
  Or
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="login">Login</button>
</form>
</div>
</body>
