<!DOCTYPE html>
<html>
<head>
  <title>Modern&nbsp;&middot;&nbsp;Efficient&nbsp;&middot;&nbsp;Simple</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand pumice" href="#">ROCKET CLERK</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="pumice" href="#">Docket & Rock It <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if session[:user_id] %>
              <span>Hi, <%= current_user.handle.titleize %></span>
              <% else %>
            Start<span class="caret"></span></a>
            <% end %>
          <ul class="dropdown-menu">
          <% if session[:user_id] %>
            <%= link_to 'Profile', logout_path %>
            <% else %>
            <%= link_to 'Log In', new_session_path %></li>
            <% end %>
            <li><%= link_to 'Sign Up', new_user_path %></li>
            <li role="separator" class="divider"></li>
            <li>
            <% if session[:user_id] %>
            <%= link_to 'Log Out', logout_path, method: :delete %>
            <% else %>
            <%= link_to 'Log In', new_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<body>
<main>
<%= yield %>
</main>
    <footer class="footer navbar-fixed-bottom">
      <div class="row">
        <div class="col-md-3"><a href="https://en.wikipedia.org/wiki/About_(surname)">About</a></div>
        <div class="col-md-3"><a href="https://en.wikipedia.org/wiki/Contact_(1997_American_film)">Contact</a></div>
        <div class="col-md-3"><a href="https://en.wikipedia.org/wiki/Privacy">Privacy</a></div>
        <div class="col-md-3">
          <%= link_to "https://twitter.com/elonmusk" do %>
          <%= fa_icon "twitter-square 2x" %>
          <% end %>
          <%= link_to "http://nasa.tumblr.com" do %>
          <%= fa_icon "tumblr-square 2x" %>
          <% end %>
          <%= link_to "http://www.facebook.com/marcothefave" do %>
          <%= fa_icon "facebook-square 2x" %>
          <% end %>
        </div>
      </div>
    </footer>
</body>
</html>
