<!DOCTYPE html>
<html>
<head>
  <title>Rocket Clerk</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">About</div>
  <div class="navbar">Contact</div>
  <div class="navbar">
    <%= link_to "https://twitter.com/elonmusk" do %>
      <%= fa_icon "twitter-square 2x" %>
    <% end %>
    <%= link_to "http://nasa.tumblr.com" do %>
      <%= fa_icon "tumblr-square 2x" %>
    <% end %>
  </div>
<% if session[:user_id] %>
  <%= "LOGGED IN AS USER #{session[:user_id]}" %>
<% else %>
  <%= "NOT LOGGED IN" %>
<% end %>
<h1>ROCKET CLERK</h1>
<div class="tagline">
  <span>Modern</span>
  <span>Fluid</span>
  <span>Simple</span>
</div>
<main>
<%= yield %>
</main>
</body>
</html>
