<!DOCTYPE html>
<html>
<head>
  <title>Rocket Clerk</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="col-md-4">About</div>
  <div class="col-md-4">Contact</div>
  <div class="col-md-4">
    <%= link_to "https://twitter.com/elonmusk" do %>
      <%= fa_icon "twitter-square 2x" %>
    <% end %>
    <%= link_to "http://nasa.tumblr.com" do %>
      <%= fa_icon "tumblr-square 2x" %>
    <% end %>
    <%= link_to "http://www.facebook.com/marcothefave" do %>
      <%= fa_icon "facebook-square 2x" %>
    <% end %>
  </div>
  <h1>ROCKET CLERK</h1>
  <% if session[:user_id] %>
    <span>Hi, <%= current_user.handle %>!</span> <%= link_to 'Log Out', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Log In', new_session_path %>
  <% end %>
<div class="tagline">
  <span>Modern</span>
  <span>Fluid</span>
  <span>Simple</span>
</div>
<main>
<%= yield %>
</main>
</body>
</html>
